node_modules
client/node_modules
server/node_modules
client/build
server/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.git
.gitignore
.env
.env.*
**/*.md
**/tests
**/__tests__
**/*.log
infrastructure
